@charset  "UTF-8";
body  {
    background-color:white;
}
h1{
    background-color: mediumpurple;     /*日本一性格の悪いto doアプリ*/
    font-size: 18px;
    padding: ;
    margin-bottom:;
}
h4{
    
}
h3{
    background-color:tan;
    font-size: 18px;
    padding: ;
    margin-bottom: ;
}
h4{

}
