@charset  "UTF-8";
body  {
    background-color:white;
}
h1{
    background-color: mediumpurple;     /*日本一性格の悪いto doアプリ*/
    font-size: 18px;
    padding: ;
    margin-bottom:;
}
h4{
    
}
h3{
    background-color:tan;
    font-size: 18px;
    padding: ;
    margin-bottom: ;
}
h4{

}

.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}
.main-nav li {
    margin-left: 36px;
}
.main-nav a {
    color:#432;
}
.main-nav a:hover {
    color:#0bd;
}

.page-header {
    display: flex;
    justify-content: space-between;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}
.wrapper a {
    color: #432;
}
.wrapper a:hover {
    color: #0bd;
}